// include helpers.scss

@import '../helpers.scss';

.vzi-zone-archive {
  padding-bottom: 10em;
}

.vzi-zone-archive__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  grid-gap: 0.5em;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
    &.--selected {
      .vzi-zone__card {
        box-shadow: 0px 0px 10px rgba(black, 0.2);
      }
    }
  }
}

.vzi-zone-archive__zone {
  font-size: 1em;
  padding: 0.5em;
  display: block;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.vzi-zone-archive__edit {

}

.vzi-zone-archive__form__wrapper {
  z-index: 2;
  @include from (601px) {

  }
  @include upto (600px) {
    position: fixed;
    top: 100vh;
    left: 0;
    height: min-content;
    right: 0;
    transform: translateY(-100%);
  }
}

.vzi-archive__actions {
  display: flex;
  gap: 1em;
  justify-content: right;
  margin-bottom: 1em;
  padding: 1em;
  background-color: white;
}


.vzi-button.add-zone {
  border: 1px solid #093;
  color: #093;
  background-color: white;

}

.vzi-zone-archive__form {
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #ccc;
  width: stretch;
  gap: 0.5em;
  margin-bottom: 1em;
  .vzi-form__title {
    width: stretch;
    margin: 0;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  .vzi-form__container {
    display: flex;
    gap: 0.5em;
    width: 100%;
    margin-bottom: 0.5em;
  }
  label {
    p {
      margin: 0;
    }
  }
  .vzi-form__color-picker {
    width: 4em;
    height: 2.5em;
    display: block;
    padding: 0.1em;
  }
  .vzi-form__input__label {
    flex-grow: 1;
  }
  .vzi-form__input {
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    flex-grow: 1;
  }

  .vzi-zone-archive__cancel {
    background-color: transparent;
    color: black;
    border: 1px solid #ccc;
  }

  .vzi-zone-archive__delete {
    background-color: transparent;
    margin-right: auto;
    color: red;
    display: inline-flex;
    align-items: center;
    border: 1px solid red;
    .icon {
      display: inline-block;
      position: relative;
      top: -0.4em;
      img {
        width: auto;
        height: 1.5em;
      }
    }
  }
  .vzi-zone-archive__save {
    border: 1px solid #093;
  }
  .vzi-form__actions {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    justify-content: right;
  }
}


.vzi-archive__actions,
.vzi-zone-archive__form {
  @include upto(600px) {
    margin: 0;
    z-index: 1;
    border-radius: 1em;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
  }
}


.vzi-zone-archive__save {
  width: 8em;
  text-align: center;
  justify-content: center;
}

.vzi-zone-archive__change-mode {
  background-color: transparent;
  border: none;
  color: #333;
  width: 4em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-wrap: nowrap;
  padding: 0.7em;
}

.vzi-zone__card {
  display: flex;
  padding: 0.3em 0em;
  background-color: #eee;
  border-radius: 0.25em;
  transition: all 0.2s ease;
  font-weight: bold;
  border: 2px solid #CCC;
  .vzi-zone-archive__zone {
    background-color: transparent;
    border: none;
    text-align: left;
    width: stretch;
    cursor: pointer;
  }
}

.vzi-button-edit-zone,
.vzi-button-visit-product {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0.3em;
  display: flex;
  align-items: center;

  cursor: pointer;
  .text-indented {
    display: none;
  }
  .icon {
    display: inline-block;
    img {
      width: auto;
      height: 1.5em;
    }
  }
}


.vzi-zone-archive__product-list {
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 0.5em;
  padding: 0;
}

.vzi-product__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;

  .name {
    font-weight: bold;
  }
}

.vzi-product__card__details {
  display: flex;
  gap: 0.5em;
  align-items: center;
  background-color: transparent;;
  border: none;
  width: stretch;
  cursor: pointer;
  .sku {
    text-align: left;
    min-width: 5em;
  }
}

.vzi-product__card__actions {

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1em;
    border-left: 1px solid #ccc;
    transition: all 0.2s ease;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.vzi-breadcrumb-list {
  display: flex;
  gap: 0.5em;
  padding: 0;
  list-style: none;
  margin: 0;

  li:not(:first-child):before {
    content: '\00BB';
    margin: 0 0.5em;
    font-weight: bold;
  }
  a {
    color: #059;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.vzi-no-results {
  width: fill-available;
}
.vzi-no-results__card {
  padding: 1em;
  border: 1px dashed #999;
  border-left: 0;
  border-right: 0;
  border-radius: 0.25em;
  text-align: left;
  width: fill-available;
}

.vzi-loader {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  p {
    position: absolute;
    top: calc(50% + 70px);
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
  }
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

