body {
  font-size: 16px;
  * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
}



.vzi-button {
  padding: 0.5em 1em;
  border-radius: 0.25em;
  border: none;
  background-color: #093;
  color: white;
}